
<h1><%= @product.name %></h1>

<h2>Product Name: <%= @product.name %></h2>
<p>Product Descpription: <%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price_in_cents) %></p>


